@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
:target {
  scroll-margin-top: 100px;
}
.fancybox__container {
  z-index: 1999;
}
.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}
@mixin centerFlex {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin clearInput {
  border: none;
  background: none;
  outline: none;
}
$main: #4069a6;
$white: #fff;

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background-color: var(--white-color-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  height: 300px;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}
body {
  background: var(--white-color);
  overflow-x: hidden;
  position: relative;
  direction: rtl;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

.row {
  margin: 0;
  padding: 0;
}
