@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400..800&display=swap");
:target {
  scroll-margin-top: 100px;
}

.fancybox__container {
  z-index: 1999;
}

.fancybox__track,
.fancybox__content,
.carousel__track {
  direction: ltr !important;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--white-color-color);
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  height: 300px;
}

* {
  margin: 0;
  padding: 0;
  line-height: 1.5;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "Baloo Bhaijaan 2", sans-serif;
}

body {
  background: var(--white-color);
  overflow-x: hidden;
  position: relative;
  direction: rtl;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  outline: none;
  background: none;
}

.row {
  margin: 0;
  padding: 0;
}

.preloader {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloader .preloaderImg {
  width: 100px;
  height: 100px;
  -webkit-mask-image: url("../images/fav.svg");
          mask-image: url("../images/fav.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  position: relative;
}
@media screen and (max-width: 1024px) {
  .preloader .preloaderImg {
    width: 80px;
    height: 80px;
  }
}
.preloader .preloaderImg::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  height: 100px;
  z-index: 2;
  background-color: #4069a6;
  transform: translateY(100%);
  animation: slide-up 1.5s forwards;
}
@media screen and (max-width: 1024px) {
  .preloader .preloaderImg::after {
    width: 80px;
    height: 80px;
  }
}
.preloader .preloaderImg::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url("../images/logo-1.webp");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  filter: grayscale(1) opacity(0.2);
}
@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

header {
  padding: 24px 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
@media screen and (max-width: 768px) {
  header {
    padding: 8px;
  }
}
header nav {
  padding: 16px 0 !important;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}
header nav .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .logo img {
  height: 36px;
  filter: brightness(0) invert(1);
}
@media screen and (max-width: 768px) {
  header nav .logo img {
    height: 28px;
  }
}
header nav .nav_links {
  gap: 32px;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .nav_links a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  header nav .nav_links {
    position: absolute;
    top: -16px;
    bottom: -16px;
    right: calc(-50% - 16px);
    height: calc(100vh + 16px);
    flex-direction: column;
    background: white;
    width: 50%;
    padding: 48px 32px;
    align-items: start;
    justify-content: start;
  }
  header nav .nav_links a {
    color: #000;
  }
  header nav .nav_links.active {
    right: -16px;
  }
}
header nav .actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 16px;
}
header nav .actions button {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
header nav .actions .toggler {
  display: none;
}
@media screen and (max-width: 768px) {
  header nav .actions .toggler {
    display: flex;
  }
}
header nav.sticky {
  padding: 16px 42px !important;
  background: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
@media screen and (max-width: 768px) {
  header nav.sticky {
    padding: 16px !important;
  }
}

main .hero_section {
  width: 100%;
  height: 100dvh;
  position: relative;
}
main .hero_section video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .hero_section .layer {
  position: absolute;
  top: 0;
  padding: 12px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.479);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
main .hero_section .layer h1 {
  font-size: 18px;
  color: #fff;
}
main .hero_section .layer h2 {
  color: #fff;
  text-align: center;
  font-size: 42px;
}
main .hero_section .layer h2 i {
  font-size: 24px;
}
main .about_section {
  padding: 80px 0;
}
main .about_section .content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .about_section .content h3 {
  font-size: 32px;
  color: #4069a6;
  display: flex;
  gap: 4px;
  align-items: center;
}
main .about_section .content h3::before {
  content: "";
  display: block;
  width: 14px;
  height: 3px;
  border-radius: 12px;
  background-color: #4069a6;
}
main .about_section .content .statistic {
  padding: 8px 0;
  display: flex;
  gap: 12px;
  align-items: center;
}
main .about_section .content .statistic .counterUp {
  font-weight: bold;
  font-size: 100px;
  background: rgba(167, 169, 172, 0.062745098);
  background-size: contain;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-stroke: 1px #a7a9ac;
  font-family: "Manrope Alt", Sans-serif;
}
@media (max-width: 768px) {
  main .about_section .content .statistic .counterUp {
    font-size: 70px;
  }
}
main .about_section .content .statistic h6 {
  font-weight: bold;
  text-transform: uppercase;
  writing-mode: vertical-rl;
  max-height: 100px;
  text-align: center;
  transform: scaleX(-1) scaleY(-1);
}
main .about_section .img {
  width: 100%;
}
main .about_section .img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 24px;
}
main .about_section .vission_card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: rgba(99, 99, 99, 0.1) 0px 2px 8px 0px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
main .about_section .vission_card .head {
  display: flex;
  align-items: end;
  gap: 12px;
}
main .about_section .vission_card h4 {
  color: #4069a6;
  margin: 0;
}
main .about_section .vission_card p {
  margin: 0;
}
@media screen and (max-width: 768px) {
  main .about_section .vission_card p {
    font-size: 14px;
    text-wrap: balance;
  }
}
main .about_section .vission_card .values {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  main .about_section .vission_card .values {
    flex-direction: column;
  }
}
main .about_section .vission_card .values .value {
  padding: 24px;
  flex: 1;
  border: 1px dashed #eee;
  display: flex;
  flex-direction: column;
  gap: 4px;
  min-width: 150px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}
main .services_section {
  padding: 80px 0;
  background: #fafafa;
}
main .services_section .service_card {
  border: 1px solid #eee;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main .services_section .service_card .img {
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;
  border-radius: 16px;
  overflow: hidden;
}
main .services_section .service_card .img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
main .services_section .service_card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .services_section .service_card .content {
  padding: 24px 16px;
  display: flex;
  gap: 8px;
  flex: 1;
  flex-direction: column;
}
main .services_section .service_card .content h6 {
  color: #000;
  font-size: 18px;
}
main .services_section .service_card .content p {
  margin: 0;
  font-size: 14px;
  color: #a7a9ac;
}
main .services_section .service_card .content button {
  width: -moz-fit-content;
  width: fit-content;
  margin-top: auto;
  color: #4069a6;
}
main .services_section .service_card .content ul {
  margin-top: 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
main .services_section .service_card .content ul li {
  color: #4069a6;
  padding-inline-end: 24px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 4px;
}
main .services_section .service_card .content ul li::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #4069a6;
}
main .team_section {
  padding: 80px 0;
}
main .team_section .team_card {
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.0509803922);
}
main .team_section .team_card .img {
  width: 100%;
  aspect-ratio: 1/1;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
}
main .team_section .team_card .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
main .team_section .team_card .img .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, #000000 10%, rgba(0, 0, 0, 0.2745098039), rgba(0, 0, 0, 0));
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main .team_section .team_card .img .content h6 {
  color: #fff;
  font-size: 20px;
}
main .team_section .team_card .img .content p {
  color: #fff;
  margin: 0;
}
main .projects {
  padding: 80px 0;
  background: #fafafa;
}
main .projects .swiper {
  width: 100%;
}
main .projects .swiper .swiper-slide {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 12px;
  padding-top: 0;
}
main .projects .swiper .swiper-slide::before {
  content: "";
  width: 1px;
  height: 75px;
  display: block;
  border: 1px dashed #d7d7d7;
}
main .projects .swiper .swiper-slide::after {
  content: "";
  width: 100%;
  height: 1px;
  border: 1px dashed #d7d7d7;
  position: absolute;
  top: 0;
  left: 0;
}
main .projects .swiper .swiper-slide .time {
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2px;
}
main .projects .swiper .swiper-slide .time .date {
  font-weight: bold;
  color: #4069a6;
  text-align: center;
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  main .projects .swiper .swiper-slide .time .date {
    font-size: 24px;
  }
}
main .projects .swiper .swiper-slide .time p {
  margin: auto;
  background-color: #fff;
  color: #000;
  flex: 1;
  padding: 20px 8px;
  width: 100%;
  font-size: 14px;
  border-radius: 12px;
  margin: 4px 0;
}
main .projects .swiper .swiper-slide .time img {
  width: 100%;
  max-height: 200px;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  padding: 4px;
  background-color: #fff;
  border-radius: 12px;
}
main .projects .swiper .swiper-slide:nth-child(even)::before {
  height: 24px;
}
main .projects .swiperControl {
  justify-content: center;
  padding: 8px;
}
main .contact {
  padding: 80px 0;
}
main .contact .map {
  border-radius: 16px;
  overflow: hidden;
}
main .contact h5 {
  font-size: 32px;
  color: #4069a6;
  display: flex;
  gap: 4px;
  align-items: center;
}
main .contact h5::before {
  content: "";
  display: block;
  width: 14px;
  height: 3px;
  border-radius: 12px;
  background-color: #4069a6;
}
main .contact form {
  padding-inline-end: 24px;
}
@media screen and (max-width: 768px) {
  main .contact form {
    padding: 0;
  }
}
main .contact form button {
  margin-top: 12px;
  background: #000;
  padding: 8px 32px;
  color: #fff;
  border-radius: 70px;
  transition: 0.4s ease-in-out;
}
main .contact form button:hover {
  background: #4069a6;
}
main .contact .input_field {
  display: flex;
  gap: 4px;
  flex-direction: column;
}
main .contact .input_field input,
main .contact .input_field select,
main .contact .input_field textarea {
  height: 52px;
  border: 1px solid #f4f4f4;
  width: 100%;
  background: #fafafa;
  border-radius: 12px;
  padding: 0 12px;
  outline: none;
}
main .contact .input_field textarea {
  height: 120px;
}
main .head_sec {
  color: #4069a6;
  text-align: center;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
main .head_sec::after {
  content: "";
  width: 12px;
  height: 3px;
  border-radius: 12px;
  background-color: #4069a6;
}
main .head_sec::before {
  content: "";
  width: 12px;
  height: 3px;
  border-radius: 12px;
  background-color: #4069a6;
}
main .sub_head {
  text-align: center;
  font-size: 16px;
  color: #a7a9ac;
  margin-bottom: 40px;
}

.page_header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5568627451), rgba(0, 0, 0, 0.5568627451)), url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  position: relative;
}

.project_details {
  padding: 80px 0;
}
.project_details .projectDetailsSlider {
  position: relative;
  aspect-ratio: 9/6;
  border-radius: 2px;
}
.project_details .projectDetailsSlider .swiper-slide {
  position: relative;
}
.project_details .projectDetailsSlider .swiper-slide a {
  display: block;
  width: 100%;
  height: 100%;
}
.project_details .projectDetailsSlider .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 2px;
  display: block;
}
.project_details .swiper-button-next {
  left: 0;
  top: unset;
  right: unset;
  bottom: -50px;
  background-color: #4069a6;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.project_details .swiper-button-next::after {
  color: #fff;
  background: none;
  font-family: "Font Awesome 6 Pro";
  content: "\f104";
  font-size: 18px;
}
.project_details .swiper-button-prev {
  left: 40px;
  right: unset;
  top: unset;
  bottom: -50px;
  background-color: #4069a6;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}
.project_details .swiper-button-prev::after {
  color: #fff;
  background: none;
  font-family: "Font Awesome 6 Pro";
  content: "\f105";
  font-size: 18px;
}
.project_details .swiper-pagination {
  right: 0 !important;
  left: unset !important;
  transform: translateX(0%);
  bottom: -46px;
  text-align: start;
}
.project_details .swiper-pagination .swiper-pagination-bullet {
  background-color: #4069a6;
}
.project_details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #4069a6;
}
.project_details .content {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
  gap: 16px;
}
.project_details .content .head p {
  color: #777;
  font-size: 14px;
}
.project_details .content h3 {
  color: #4069a6;
}

footer {
  padding: 60px 0 0;
  display: flex;
  align-items: end;
  background-image: url("../images/footer.webp");
  background-color: #f9f6f1;
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}
footer .about {
  margin-top: 32px;
  margin-bottom: 0;
  padding-inline-end: 60px;
}
@media screen and (max-width: 768px) {
  footer .about {
    padding: 0;
  }
}
footer .title {
  color: #4069a6;
  margin-bottom: 32px;
}
footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
footer .contacts .icon {
  border: 1px solid #a7a9ac;
  color: #a7a9ac;
  font-size: 14px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transition: all 0.3s ease-in-out;
}
footer .contacts li {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .contacts li p {
  margin: 0;
}
footer .contacts li a {
  color: #000;
}
footer .contacts li:hover .icon {
  color: #4069a6;
  border-color: #4069a6;
}
footer .contacts li:hover a {
  color: #4069a6;
}
footer .images {
  display: flex;
  align-items: center;
  gap: 12px;
}
footer .images img {
  height: 48px;
}
@media screen and (max-width: 768px) {
  footer .images img {
    height: 36px;
  }
}
footer .images span {
  display: block;
  height: 52px;
  width: 1px;
  background: #dddddd;
}
@media screen and (max-width: 768px) {
  footer .images span {
    height: 42px;
  }
}
footer .copy_rights {
  border-top: 1px solid #eee;
  padding: 24px 0;
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  footer .copy_rights {
    flex-direction: column-reverse;
    gap: 12px;
  }
}
footer .copy_rights a {
  color: #4069a6;
}
footer .copy_rights p {
  text-align: center;
}
footer .copy_rights ul {
  display: flex;
  align-items: center;
  gap: 8px;
}
footer .copy_rights ul a {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #a7a9ac;
  color: #a7a9ac;
  font-size: 14px;
  transition: 0.3s ease-in-out;
}
footer .copy_rights ul a:hover {
  color: #4069a6;
  border-color: #4069a6;
}/*# sourceMappingURL=style.css.map */